include requirements.txt
include README.md
include MANIFEST.in
include centinela.cmd

recursive-include images *
recursive-include documents *
recursive-include dist *
recursive-include centinela *
recursive-include _tools *

